:root {
    --cyan: hsl(180, 66%, 49%);
    --darkViolet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayishViolet: hsl(257, 7%, 63%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);
}
body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.navbar-container {
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    background-color: hsl(257, 27%, 26%);
    color: white;
    border-radius: 10px;
    width: 90%;
}
.navbar-container a {
    color: white;
    text-decoration: none;
    position: relative;
    left: -15px;
}
.navButton {
    background-color: #FFF;
    border: 0px;
    font-weight: bold;
    font-size: 29px;
    color: gray;
    float: right;
}
.signUpBtn {
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    padding: 4% 35%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px solid #000000;
}
.navbar1, .navbar2 {
    list-style: none;
    text-align: center;
}
.navbar1 li, .navbar2 li {
    padding: 10px 0px 10px 0px;
}
.linea_menu {
    background-color:white;
    width:80%;
}
.hide {
    display: none;
}
.footerSection {
    background-color: hsl(260, 8%, 14%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-bottom: 10%;
    position: relative;
    z-index: -1;
    top: -130px;
}
.logoWhite {
    filter: invert(100%);
}
.footerSection ul {
    list-style: none;
    padding: 0;
}
.footerSection li {
   margin: 2% 0;
}
.footerTitle {
    padding: 5% 0;
    font-weight: bold;
}
.footerSection a {
    text-decoration: none;
    color: hsl(0, 0%, 75%);
}
.footerSection>img {
    margin: 10% 2% 5% 2%;
}
.workingImg {
    width: 100%;
    height: 100%;
}
.section1 {
    font-size: x-large;
}
.section1Info > p {
    font-size: large;
    margin: 0% 5% 10% 5%;
    color: hsl(0, 3%, 69%);
}
.section1>h1, .section2>h2, .section2>h3{
    color: hsl(0, 1%, 19%);
}
.section1, .section3 {
    text-align: center;
    margin: 10% 0;
}
.section2 {
    background-color: hsl(0, 3%, 93%);
    color: hsl(0, 3%, 69%);
    text-align: center;
    padding: 45% 0 25% 0;
    margin: 0%;
    position: relative;
    z-index: -1;
    top: -130px;
}
.statisticsSection>div {
    background-color: hsl(0, 0%, 100%);
    margin: 0% 7% 0% 7%; 
    text-align:center;
    padding: 5%;
    border-radius:5px;
}
.section2>p{
    margin-bottom:80px;
}
.section3 {
    background-color: hsl(257, 27%, 26%);
    color:  hsl(0, 0%, 100%);
    margin: 0%;
    height: 287px;
    position: relative;
    z-index: -1;
    top: -130px;
}
.boostStarted {
    position: relative;
    z-index: 1;
    top:-240px;
}
.boostMobile>img {
    width: 100%;
}
.statisticsSection>div>h3 {
    color:black;
    margin-top:-58px; 
}
.statisticsSection>div>p {
    margin-top: 20px;
}
.imgIco {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    position: relative;
    top:-58px;
    margin-bottom:40px;
}
.imgIco img {
    vertical-align: middle;
    margin-top:25%;
}
.vr {
    margin: 0 auto;
    background-color: hsl(180, 66%, 49%);
    border-left: 6px solid hsl(180, 66%, 49%);
    height: 40px;
    width: 2px;
    margin-bottom:38px;
}
.start {
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    padding: 4% 10%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px solid #000000;
}
.shortenMobile > img {
    width: 100%;
    height: 100px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}
.shortenDesktop {
    display: none;
}
.shortenInputAndBtn {
    position: relative;
    z-index: 1;
    top: -100px;
}
.shorterSection {
    background-color: hsl(257, 27%, 26%);
    text-align: center;
    margin: 5%;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    height: 180px;
}

.hide_shorted{
    display: none;
}

.url_shorted{
    position: relative;
    top: 150%;
    background-color:white;
    border-radius: 7px;
    margin: 5%;
}

.url_shorted ul{
    width:100%;
    margin-bottom: 0%;
    list-style: none;
    text-align: center;
    display:inline-block;
    padding-left: 0%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.url_shorted .longUrl{
    color: hsl(257, 27%, 26%);
    padding-right:5px;
}

.hr_shorter{
    border-top: 1px solid hsl(0, 0%, 75%);
    border-bottom: -10%;
    width: 100%;
    height: 1px;
}

.url_shorted .shortUrl{
    color: hsl(180, 66%, 49%);
}

.copyButton{
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    padding: 2% 10%;
    margin: 5%;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
}

.copyButton:hover{
    opacity: 0.6;
}

input:focus {
    color: black;
}
.link_please {
    color: hsl(0, 87%, 67%);
    font-size:10px;
    text-align:left;
    margin-left:10%;
    width: auto;
}
.hide2 {
    display:none;
}
.shorter {
    color: hsl(0, 3%, 69%);
    padding: 4% 10%;
    margin: 7% 7% 0% 7%;
    width: 60%;
    font-size: 18px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #ffffff;
}
/*
    input.shorter:required {
    border: 3px solid hsl(0, 87%, 67%);
    color: hsl(0, 87%, 67%);
    }
*/
.shortButton {
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    padding: 4% 10%;
    margin: 7%;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
}

.footerSocialMedia>li {
    display: inline;
    margin: 3%;
}
.boostDesktop {
    display: none;
}
@media (min-width: 1440px) {
    .logo {
        margin-top:3%;
    }
    .headerSection {
        margin: 0 auto;
        width:90%;
    }
    .hideButton {
        display: none;
    }
    .navbar-container {
        padding: 0px 10px 0px 10px;
        background-color: white;
        color: hsl(257, 7%, 63%);
        border-radius: 10px;
        width: 90%;
    }
    .navbar-container a {
        color: hsl(257, 7%, 63%);
    }
    .navbar1 {
        width: 40%;
        float:left;
        margin: -3% 0% 0% 5%;
    }
    .navbar2 {
        float:right;
        width:15%;
        margin: -3% 0% 0% 14%;
    }
    .navbar2 li:last-child {
        margin-left:-5%;
    }
    .navbar1, .navbar2 {
        list-style: none;
        text-align: center;
    }

    .navbar1 li, .navbar2 li {
        color: hsl(257, 7%, 63%);
        display: inline;
        padding: 0% 5% 0% 5%;
    }
    .linea_menu {
        display:none;
    }
    .signUpBtn {
        padding: 2% 2%;
    }
    .navbar2 .signUpBtn {
        padding: 2% 4%;
        color: white;
    }
    .hide {
        display: block;
    }
    .section1Info {
        width: 45%;
        height: auto;
        float: left;
        padding: 10px 30px 10px 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: left;
    }
    .section1 {
        margin-bottom: 0;
    }
    .section1Info > h1 {
        font-size: 80px;
        text-align: left;
        padding-left: 40px;
        margin-bottom: 10px;
    }
    .section1Info > p {
        text-align: left;
        padding-left: 30px;
        font-size: 25px;
        margin: 0 0 5% 0;
    }
    .section1Info > button {
        margin: 30px 30px 0 30px;
        padding: 2% 4%;
    }
    .section1Img {
        width: 45%;
        height: auto;
        float: right;
    }
    .shortenMobile {
        display: none;
    }
    .shortenDesktop {
        display: block;
    }
    .shortenDesktop > img{
        width: 100%;
        border-radius: 7px 7px 7px 7px;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        border: 0px solid #ffffff;
    }
    .shortenInputAndBtn {
        top: -200px;
    }
    .shorterSection {
        width: 90%;
        position: relative;
        height: 197px;
        display:inline-block;
        margin: 4% 0 0 0;
    }
    .shorter {                                                           
        width: 72%;
        height: 50px;
        margin: 5% 1% 0% 5%;
        padding: 5px 5px 5px 5px;
    }
    .shortButton {
        width: 15%;
        height: 65px;
        margin: 5% 5% 0% 0%;
        padding: 5px 5px 5px 5px;
    }
    .shortButton:hover {
        opacity: 0.6;
    }
    .signUpBtn:hover {
        opacity: 0.6;
    }
    .start:hover {
        opacity: 0.6;
    }
    .link_please {
        float: left;
    }

    .hide2 {
        display: inline-block;
        margin: 1% 0% 2% 5%;
    }

    .url_shorted .longUrl:hover{
        cursor: pointer;
    } 

    .section2 {
        padding: 15% 5%;
        margin: 0;
        position: relative;
        z-index: -1;
        top: -225px;
    }
    .section2 > p {
        width: 50%;
        margin: auto;
    }
    .statisticsSection {
        display: flex;
        flex-direction: row;
        margin-top: 10%;
    }
    .imgIco {
        margin: 3%;
        top: -40%;
    }
    .imgIco>img {
        margin-left: 20px;
    }
    .statisticsSection > div {
        margin: 0;
        text-align: left;
        height: 230px;
        padding: 3%;
        position: relative;
    }
    .vr {
        width: 150px;
        height:10px;
        padding: 0;
        margin: 160px 0 0 0;
    }
    .detailedRecords {
        top: 50px;
    }
    .fullyCuztomizable {
        top: 100px;
    }
    .section3 {
        height: 245px;
    }
    .boostMobile {
        display: none;
    }
    .boostStarted {
        padding: 2%;
        top: -255px;
    }
    .boostDesktop {
        display: block;
    }
    .boostDesktop>img {
        width: 99%;
    }
    .start {
        height: auto;
        width: auto;
        padding: 1% 3%;
    }
    .footerSection {
        display: flex;
        text-align: left;
        padding-bottom: 0%;
    }
    .footerSection>ul {
        padding: 3%;
        width: 15%;
    }
    .footerSection>img {
        padding: 4%;
        margin-top: 1%;
        height: 40%;
    }
}
