
:root {
    --cyan: hsl(180, 66%, 49%);
    --darkViolet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayishViolet: hsl(257, 7%, 63%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);
}
body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
/*
.headerSection {
    display: flex;
    flex-direction: row;
    width: 100%;
}*/
.navbar-container {
    /*display: flex;
    flex-direction: row;*/
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
    background-color: hsl(257, 27%, 26%);
    color: white;
    border-radius: 10px;
    width: 90%;
}
.navbar-container a{
    color: white;
    text-decoration: none;
    position: relative;
    left: -15px;
}
.navButton{
    background-color: #FFF;
    border: 0px;
    font-weight: bold;
    font-size: 29px;
    color: gray;
    float: right;
}
.signUpBtn{
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    padding: 4% 35%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px solid #000000;
}
/*.signUpBtn:hover {
    opacity: 0.6;
}*/

.navbar1, .navbar2 {
    /*display: flex;
    flex-direction: column;*/
    list-style: none;
    text-align: center;
}
.navbar1 li, .navbar2 li{
    padding: 10px 0px 10px 0px;
}
hr{
    background-color:white;
    width:80%;
}
.hide{
    display: none;
}
.footerSection {
    background-color: hsl(260, 8%, 14%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding-bottom: 10%;
    /*display: flex;
    flex-direction: row;*/
}
.logoWhite {
    filter: invert(100%);
}
.footerSection ul {
    list-style: none;
    padding: 0;
    /*display: flex;
    flex-direction: column;*/
}
.footerSection li {
   margin: 2% 0;
}
.footerTitle {
    padding: 5% 0;
    font-weight: bold;
}
.footerSection a{
    text-decoration: none;
    color: hsl(0, 0%, 75%);
}
.footerSection>img {
    margin: 10% 2% 5% 2%;
}
.workingImg {
    width: 100%;
    height: 100%;
}
.section1{
    font-size: x-large;
}
.section1>p{
    font-size: large;
    margin: 0% 5% 10% 5%;
    color: hsl(0, 3%, 69%);
}
.section1>h1, .section2>h2, .section2>h3{
    color: hsl(0, 1%, 19%);
}
.section1, .section3 {
    text-align: center;
    margin: 10% 0;
}
.section2 {
    background-color: hsl(0, 3%, 93%);
    color: hsl(0, 3%, 69%);
    text-align: center;
    padding: 25% 0;
    margin: 0%;
    margin-top: 100px;
}
.statisticsSection>div{
    background-color: hsl(0, 0%, 100%);
    /*margin: 25% 7%;*/
    margin: 0% 7% 0% 7%; 
    text-align:center;
    padding: 5%;
    border-radius:5px;
}
.section2>p{
    margin-bottom:80px;
}
.section3 {
    background-color: hsl(257, 27%, 26%);
    color:  hsl(0, 0%, 100%);
    margin: 0%;
    height: 287px;
}
.boostStarted {
    position: relative;
    z-index: 1;
    top:-240px;
}
.boostMobile>img{
    width: 100%;
}
.statisticsSection>div>h3{
    color:black;
    margin-top:-58px; 
}

.statisticsSection>div>p{
    margin-top: 20px;
}

.imgIco{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    position: relative;
    top:-58px;
    margin-bottom:40px;
}
.imgIco img{
    vertical-align: middle;
    margin-top:25%;
}
.vr{
    margin: 0 auto;
    background-color: hsl(180, 66%, 49%);
    border-left: 6px solid hsl(180, 66%, 49%);
    height: 40px;
    width: 2px;
    margin-bottom:38px;
}
.start {
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    padding: 4% 10%;
    font-weight: bold;
    font-size: 18px;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    border: 0px solid #000000;
}
/*.start:hover {
    opacity: 0.6;
}*/

.shorterSection {
    background-color: hsl(257, 27%, 26%);
    text-align: center;
    margin: 5%;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    
    position: absolute;
}

input:focus {
    color: black;
  }

.link_please{
    color: hsl(0, 87%, 67%);
    font-size:10px;
    text-align:left;
    margin-left:10%;
}

.hide2{
    display:none;
}

.shorter{
    color: hsl(0, 3%, 69%);
    padding: 4% 10%;
    margin: 7% 7% 0% 7%;
    width: 60%;
    font-size: 18px;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #ffffff;
}

/*input.shorter:required{
    outline-color: hsl(0, 87%, 67%);
    color: hsl(0, 87%, 67%);
}*/

.shortButton {
    background-color: hsl(180, 66%, 49%);
    color: hsl(0, 0%, 100%);
    padding: 4% 10%;
    margin: 7%;
    width: 80%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 0px solid #000000;
}
/*.shortButton:hover {
    opacity: 0.6;
}*/

.footerSocialMedia>li{
    display: inline;
    margin: 3%;
}
@media (min-width: 1440px) {


}
